.u-color{

    &__primary{
        color:$primary;     
    }
    
    &__colored {
        background: $primary;
        color:$white;
        padding:2px 15px 0 5px;
    }

    &__white {
        color:$white;
    }
}