<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITION - Responisve Business Template</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

        <!-- <a href="#" class="c-btn c-btn__primary">Contact us</a>
        <a href="#" class="c-btn c-btn__secondary">Contact us</a> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="pricing-table">
                        <div class="pricing-table__body">
                            <h3 class="pricing-table__heading">Normal</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis, hendrerit nisi nec, maximus elit. </p>
                            <div class="pricing-table__price">
                                $59<span class="pricing-table__peroid">/month</span>
                            </div>
                            <div class="pricing-table__list">
                                <ul>
                                    <li class="pricing-table__item">Email Support</li>
                                    <li class="pricing-table__item">Free Consultation</li>
                                    <li class="pricing-table__item">Good documentation</li>
                                    <li class="pricing-table__item">24/7 Customer Support</li>
                                </ul>
                            </div>
                            <a href="#" class="c-btn c-btn__primary">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="pricing-table">
                        <div class="pricing-table__body">
                            <h3 class="pricing-table__heading">Normal</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis, hendrerit nisi nec, maximus elit. </p>
                            <div class="pricing-table__price">
                                $59<span class="pricing-table__peroid">/month</span>
                            </div>
                            <div class="pricing-table__list">
                                <ul>
                                    <li class="pricing-table__item">Email Support</li>
                                    <li class="pricing-table__item">Free Consultation</li>
                                    <li class="pricing-table__item">Good documentation</li>
                                    <li class="pricing-table__item">24/7 Customer Support</li>
                                </ul>
                            </div>
                            <a href="#" class="c-btn c-btn__primary">Purchase Now</a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="pricing-table">
                        <div class="pricing-table__body">
                            <h3 class="pricing-table__heading">Normal</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis, hendrerit nisi nec, maximus elit. </p>
                            <div class="pricing-table__price">
                                $59<span class="pricing-table__peroid">/month</span>
                            </div>
                            <div class="pricing-table__list">
                                <ul>
                                    <li class="pricing-table__item">Email Support</li>
                                    <li class="pricing-table__item">Free Consultation</li>
                                    <li class="pricing-table__item">Good documentation</li>
                                    <li class="pricing-table__item">24/7 Customer Support</li>
                                </ul>
                            </div>
                            <a href="#" class="c-btn c-btn__primary">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

   
</body>
</html>