<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITION - Responisve Business Template</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
       
        <!-- SERVICES STYLE 1 -->
        <section class="container-fluid c-services-box__bg">
            <div class="container">
                <div class="row">
                    <div class="col-12 c-heading">
                        <h5 class="c-heading__subtitle">Services</h5>
                        <h2 class="c-heading__title">We provide <span class="u-color__primary">the best</span> assistance services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris sed neque facilisis, hendrerit nisi nec, maximus elit.
                        Quisque at lacinia elit. Mauris aliquet velit ac tortor malesuada,
                        ornare maximus leo porttitor. Vivamus tristique consectetur nibh,
                        varius euismod mi consequat.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="c-services-box c-services-box--layout-1">
                            <div class="c-services-box__image">
                                <img src="../img/INVESTMENT-PLANNING-ICON.png" alt="investment-planning">
                            </div>
                            <div class="c-services-box__content">
                                <h4 class="c-services-box__title"><a href="#">Investment <span class="u-color__primary">Planning</span></a></h4>
                                <p class="c-services-box__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="c-services-box c-services-box--layout-1">
                            <div class="c-services-box__image">
                                <img src="../img/AUDIT-ICON.png" alt="audit">
                            </div>
                            <div class="c-services-box__content">
                                <h4 class="c-services-box__title"><a href="#">Audit & <span class="u-color__primary">Assurance</span></a></h4>
                                <p class="c-services-box__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="c-services-box c-services-box--layout-1">
                            <div class="c-services-box__image">
                                <img src="../img/FINANCIAL-ICON.png" alt="financial">
                            </div>
                            <div class="c-services-box__content">
                                <h4 class="c-services-box__title"><a href="#"><span class="u-color__primary">Financial</span> Services</a></h4>
                                <p class="c-services-box__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="c-services-box c-services-box--layout-1">
                            <div class="c-services-box__image">
                                <img src="../img/INCREASING-ICON.png" alt="increasing">
                            </div>
                            <div class="c-services-box__content">
                                <h4 class="c-services-box__title"><a href="#"><span class="u-color__primary">Increasing</span> Sales</a></h4>
                                <p class="c-services-box__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque facilisis. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END OF SERVICES STYLE 1 -->

        <div class="container py-5">
            <div class="row">
                <div class="col-12 c-heading--second">
                    <h5 class="c-heading__subtitle">Services</h5>
                    <h2 class="c-heading__title">Explore what we <span class="u-color__colored">offer</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris sed neque facilisis, hendrerit nisi nec, maximus elit.
                    Quisque at lacinia elit. Mauris aliquet velit ac tortor malesuada,
                    ornare maximus leo porttitor. Vivamus tristique consectetur nibh,
                    varius euismod mi consequat.</p>
                </div>
            </div>
        </div>
   
</body>
</html>