.c-form {

    &__form{
        background-color: $white;
        box-shadow:$shadow-primary;
        border-radius: 50px 0 50px 0;
        padding:35px 35px 50px 35px;
        margin:75px 0;
    }
    &__input{
        margin-bottom: 15px;
        border-radius: 5px;
        border:none;
        padding:10px 15px;
        border-bottom: 1px solid transparent;
    
        &:focus {
            border:none;
            outline: none;
            border-bottom:2px solid $primary;
        }
    
        &::placeholder{
            color:rgba(32, 49, 77, 0.3);
        }

        &--contact{

            
                background:rgba(32, 49, 77, 0.05);
    
                &:focus {
                    box-shadow: none;
                    background:rgba(32, 49, 77, 0.05);
                }
    
            
        }

        &--form {
            
                background:transparent;
                box-shadow: $shadow-primary;
    
                &:focus {
                    box-shadow: $shadow-primary;
                }
    
            
        }
    }

    &__form-group{

        @include md {
        padding-right: 10px;
        }
    }
    
}

