.c-heading{

        padding: 70px 15px;
        display: flex;
        flex-direction: column;
        
    &--center {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title{
        padding:25px 0;
        font-size:$font-size-5;
    } 

    &__subtitle{
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size:18px;

        &::before {
            content:'';
            width:35px;
            height: 3px;
            background: $primary;
            display: block;
            margin-right: 15px;
        }
    }
}