.c-nav{
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 9;

    @include lg {
        max-width: 1170px;
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    @media (min-width:992px) and (max-width:1170px) {
        max-width: 100%;
        width: 100%;
        margin:0 15px;

    }

    ul {
        max-width: 100%;
        padding: 30px 0;
        // min-height: 100vh;
        // overflow: hidden;
        background-color: $secondary;
        text-align: center;
        list-style-type:none;

        @include lg {
            display:flex;
            background-color: transparent;
        }
    }

    &__navigation {
        width:100%;
        height: 0;
        opacity: 0;
        z-index: -1;
        transform: translateY(-800px);
        transition: all .8s;

        @include lg {
            display: flex;
            justify-content: flex-end;
            opacity: 1;
            transform: translateY(0);
            height: 100%;
        }

        @media (min-width:992px) and (max-width:1170px){
            margin-right:30px;
        }
    }

    &__active {
        display: block;
        opacity: 1;
        transform: translateY(0);
        z-index: 9999;
        transition: all .8s;
    }

    &__item {
        
        padding: 20px;
        text-transform: uppercase;

            @include lg {
                &:last-child{
                    padding-right:0px;
                }
            }
        


        a {
            color:$white;
            font-weight: 700;

            @include lg {
                color:$secondary;
                transition: ease-out .4s;


                &:hover{
                    color:$primary;
                }
            }
        }
    }

    &__item-active{

        a{
        color:$primary;
        }
    }

    &__logo-desktop{
        display:none;

        @include lg {
            display: block;
            margin:30px 0;
        }
    }

    &__mobile-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include lg {
            display: none;
        }
    }

    &__logo{
        display:block;
        margin:20px 0;
        padding-left:10px;
        max-width: 40%;

        @include lg {
            display:none;
        }

        img {
            width: 100%;
        }
    }

    &__hamburger{
        max-width: 60%;
        padding: 0 15px 0 0;
    }

    &__hamburger-line{
        display: block;
        width:25px;
        height:3px;
        margin:5px;
        background-color: $primary;
        transition: ease-out .4s;

        @include lg {
            display: none;
        }
    }

    
    .c-nav__change > .c-nav__hamburger-line {
        &:first-child{
            transform: rotate(-45deg) translate(-5px, 6px);    
        }
        &:nth-child(2){
            opacity: 0;
        }
        &:nth-child(3){
            transform: rotate(45deg) translate(-5px, -6px); 
        }
    }

    /* TOPBAR STYLES */

    &__top-bar{
        display:none;

        @include lg {

            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $border-line;
            padding: 5px 0 10px 0; 
        }
        @include xl {
            .col-12{
                margin: 0!important;
                padding: 0!important;
            }
        }

    }
    &__top-bar-icons-box{
        display: flex;
        align-items: center;
    }
    &__top-bar-social{
        font-size:26px;
        margin-left:10px;
        color:$primary;
        transition: ease-out .4s;
    }
    &__top-bar-icons-content{
        display: flex;
        align-items: center;

    }
    &__top-bar-left{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__top-bar-label{
        margin-left:8px;
        font-weight: 400;
        font-size:16px;

        a {
            color:$text-color;
            transition: ease-out .4s;
        }

        a:hover{
            color:$primary;
        }
    }
    &__brand {
        max-width:150px;
    }

    &__dropdown-menu{
        display: flex!important;
        flex-direction: column;
        opacity: 0;
        transform: translateY(100px);
        position: absolute;
        background-color: $white;
        min-width: 100%;
        box-shadow: $shadow-primary;
        z-index: -1!important;
        padding: 0!important;
        top:100%;
        transition: all .4s ease-in-out;

        @include lg {
            min-width: 240px;
        }
        
    }

    &__item-has-children{
        position: relative;
        display: flex;
        align-items:center;
        justify-content: center;

        @include lg {
            &:hover {
                .c-nav__dropdown-menu {
                    z-index: 99999!important;
                    opacity: 1!important;
                    transform: translateY(0)!important;
                }
                &::after{
                    transform: rotate(180deg);
                    background: url(../img/icons/down-arrow-hover.svg);
                }
    
            }
        }

        &::after {
            content: '';
            background: url(../img/icons/down-arrow-white.svg);
            width: 12px;
            height: 12px;
            margin-left: 10px;
            display: flex;
            transition: all .4s ease-in-out;
        }

        @include lg {
            &::after {
                background: url(../img/icons/down-arrow.svg);
                cursor: pointer;
                margin-left: 3px;
            }
        }
        


        .c-nav__item {
            padding: 15px!important;
            text-align: center;
            border-bottom: 1px solid $border-line;

            @include lg {
                padding: 10px 15px!important;
                text-align: left;
                background-color: $white;
            }
        }
    }

    &__show-submenu {
        z-index: 99999!important;
        opacity: 1!important;
        transform: translateY(0)!important;
    }

    &__show-idicator {
        &::after{
                    transform: rotate(180deg);
                    background: url(../img/icons/down-arrow-hover.svg);
                }
    }
  
}


